*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #465b52;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4 {
    font-size: 20px;
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 12px;

}
p {
    font-size: 16px; 
    color: #222b27;
    margin: 10px 0 20px 0;
}
.section-p1{
    padding: 40px 150px;
}
.section-m1{
    margin: 40px 0 ;
}
.logo {
    width: 100px;
}

/* Header */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky; /*to make the navbar stick on the whole page*/
    top: 0;
    left: 0;
    z-index: 99999;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active  {
    color: #98a07a;
    font-size: 17px;
    transition: 0.3s ease;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content :"";
    width: 55%;
    height: 2px;
    background-color: #98a07a;
    position: absolute;
    bottom: -4px;
    left: 20px ;
} 

/* Home Page */
#hero {
    background-image: url(pics/background.jpeg);
    height: 95vh; /* to make the image take the whole screen*/
    width: 100%;
    background-position: top 25% right 0; /* to center the image*/
    background-size: cover;
    padding: 0 80px;
    display: flex;/*to make the text in the center*/
    flex-direction: column;/*this one makes the elements in a column instead of the default option (row)*/
    align-items: flex-start;
    justify-content: center;
   
}
#hero h2{
    color: rgb(109, 109, 99);
}
#hero h4{
    padding-bottom: 15px;
    color: rgb(109, 109, 99);
} 
#hero h1{
    color: rgb(200, 200, 183);

}
#hero p {
    color: rgb(82, 82, 76);
}
#hero button{
    background-image: url(pics/button.png); 
    color: rgb(82, 82, 76);
    background-color: transparent;
    border: none; 
    padding: 14px 80px 14px 65px; 
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#feature .f-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #e9edc9;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .f-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .f-box h6{
    margin-top: 20px;
}
#feature { /*to make all the boxes in 1 row */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 {
    text-align: center;
}
#product1 .prod-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap; /*to make the line break after 4 articles*/
}
#product1 .prod video,
#product1 .prod img{
    width: 250px;
    border-radius: 6px;
}
#product1 .prod{
    width: 23%;
    min-width: 250px;
    padding: 20px 12px;
    border: 1px solid #e9edc9;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.2s;
    position: relative;

}
#product1 .prod:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
    transition: 0.2s; 
}
#product1 .prod .description{
    text-align: start;
    padding: 10px 0;
}
#product1 .prod .description p{
    padding-top: 7px;
    margin: 0;
    font-size: 14px;
    color: #1a1a1a;
}
#product1 .prod .description h6{
    padding-top: 7px;
    font-size: 16px;
    margin: 0;
}

#product1 .prod .heart{
    width: 35px;
    line-height: 35px;
    border-radius: 50px;
    background-color: #ffe5ec;
    margin: 0;
    border: 1px solid #f2d1d9;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#product1 .prod .cart{
    width: 35px;
    line-height: 35px;
    border-radius: 50px;
    background-color: #cce3de;
    margin: 0;
    border: 1px solid #a4c3b2;
    position: absolute;
    bottom: 20px;
    right: 50px;
}



/*start Media Query*/
@media (max-width: 210px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0px;
        height: 100vh;
        width: 300px;
    } 
}